.head {
    width: 100vw;
    height: 12vh;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
}

.home-button {
    margin-left: 14px;
    font-size: 40px;
    height: 30px;
    width: 85px;
    background: transparent;
    border: none;
    font-weight: bold;
}